html, body {
  background: black;
  margin: 0;
  padding: 0;
  color: #999;
}

#wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#blurb {
  text-align: center;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
#blurb h1 {
  color: white;
}

.line-reveal {
  width: 120%;
  height: 3px;
  overflow: hidden;
  position: absolute;
}
.line-reveal .overlay {
  background: black;
  height: 10px;
  position: absolute;
  top: -5px;
  width: 100%;
  transform-origin: 100% 0;
  -webkit-animation: wipe 3s ease;
          animation: wipe 3s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.line-reveal .line {
  border: 3px dashed white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#line-a {
  left: 0;
  top: 60%;
  transform-origin: 0 0;
  transform: rotate(-50deg);
}
#line-a .line {
  border-color: #ff9900;
}

#line-b {
  left: 0;
  bottom: 20%;
  transform-origin: 0 0;
  transform: rotate(-5deg);
}
#line-b .overlay {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#line-b .line {
  border-color: #ff0099;
}

#line-c {
  right: 10%;
  bottom: 0;
  transform-origin: 100% 0;
  transform: rotate(70deg);
}
#line-c .overlay {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#line-c .line {
  border-color: #0099ff;
}

@-webkit-keyframes wipe {
  to {
    transform: scaleX(0);
  }
}

@keyframes wipe {
  to {
    transform: scaleX(0);
  }
}