<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>VougeOn</title>
  <link rel="icon" type="image/png" href="static/assets/images/Logo.png"/>
  <!-- Template CSS -->
  <link rel="stylesheet" href="../static/assets/css/style-starter-min.css">
  <link rel="stylesheet" href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap" rel="stylesheet">
  <!-- Template CSS -->

</head>
<body>
<section class="w3l-banner-slider-main inner-pagehny">
  <div class="breadcrumb-infhny">

    <div class="top-header-content">

      <header class="tophny-header">
        <div class="container-fluid">
          <div class="top-right-strip row">
            <!--/left-->
            <div class="top-hny-left-content col-lg-6 pl-lg-0">
              <a class="navbar-brand" href="{{ url_for('Home') }}">
                Vouge<span class="lohny">On</span></a>  
            </div>
            <!--//left-->
            <!--/right-->
            <ul class="top-hnt-right-content col-lg-6">

              <li class="button-log usernhy">
                <a class="btn-open" href="{{ url_for('login') }}">
                  <span class="fa fa-user" aria-hidden="true"></span>
                </a>
              </li>
              <li class="transmitvcart galssescart2 cart cart box_1">
                <form action="#" method="post" class="last">
                  <input type="hidden" name="cmd" value="_cart">
                  <input type="hidden" name="display" value="1">
                  <button class="top_transmitv_cart" type="submit" name="submit" value="">
                    My Cart
                    <span class="fa fa-shopping-cart"></span>
                  </button>
                </form>
              </li>
            </ul>
            <!--//right-->
          </div>
        </div>
        <!--/nav-->
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid serarc-fluid">
            <!-- if logo is image enable this   
                    <a class="navbar-brand" href="#index.html">
                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->

              <!-- /search popup -->
            <!--//search-right-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon fa fa-bars"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('Home') }}">Home</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">About us</a>
                </li>
               

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>
        <!--//nav-->
      </header>
      <div class="breadcrumb-contentnhy">
        <div class="container">
          <nav aria-label="breadcrumb">
            <h2 class="hny-title text-center">About Us</h2>
            <ol class="breadcrumb mb-0">
              <li><a href="{{ url_for('Home') }}">Home</a>
                <span class="fa fa-angle-double-right"></span></li>
              <li class="active">About</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</section>

<section class="w3l-wecome-content-6">
	<!-- /content-6-section -->
	  <div class="ab-content-6-mian py-5">
			 <div class="container py-lg-5">
					<div class="welcome-grids row">
							<div class="col-lg-6 mb-lg-0 mb-5">
									<h3 class="hny-title">
											About Our Vouge<span>On</span> store</h3>
								<p class="my-4">We have attempted to make a website in which you don't have to go to stores to find the clothes of your likings. You can try out our all new feature of virtual trials and find the dresses and accessories that suit you the best.</p>
								<div class="read">
									<a href="{{ url_for('Home') }}" class="read-more btn">Shop Now</a>
								</div>	
							</div>
							<div class="col-lg-6 welcome-image">
								<img src="static/assets/images/2.jpg" class="img-fluid" alt="" />
							</div>	
							
						</div>	
				 
				 </div>
			 </div>
	 </section>
   <!-- //content-6-section -->

  
<section class="w3l-specification-6">
	<!-- /specification-6-->
	  <div class="specification-6-mian py-5">
			 <div class="container py-lg-5">
					<div class="row story-6-grids text-left">
							<div class="col-lg-5 story-gd">
									<img src="../static/assets/images/left2.jpg" class="img-fluid" alt="/">
								</div>
							<div class="col-lg-7 story-gd pl-lg-4">
								<h3 class="hny-title">What We <span>Offer</span></h3>
								<p></p>
			
								<div class="row story-info-content mt-md-5 mt-4">

									<div class="col-md-6 story-info">
										<h5> <a href="#">01. Visit Store</a></h5>	
									<p>Make your choices from among our vast range of products.</p>
												
										
									</div>
									<div class="col-md-6 story-info">
											<h5> <a href="#">02. Add To Cart</a></h5>	
											<p>Add your favourite products in your own exclusive cart.</p>
									</div>
									<div class="col-md-6 story-info">
											<h5> <a href="#">03. Gift Cards</a></h5>	
											<p>You can gift some special and exciting vouchers to your loved ones for any special occasions.</p>
									</div>
									<div class="col-md-6 story-info">
											<h5> <a href="#">04. Unique trials</a></h5>	
											<p>It's not required anymore to physically try out your favourite dresses or accessories. Try out our all new virtual trials.</p>
									</div>
								</div>
							
							</div>
						
			
			
						</div>
				 </div>
			 </div>
	 </section>
   <!-- //specification-6-->

   <section class="w3l-wecome-content-6">
    <!-- /content-6-section -->
      <div class="ab-content-6-mian py-5">
         <div class="container py-lg-5">
            <div class="welcome-grids row">
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <h3 class="hny-title">
                        Our Inspi<span>ration</span></h3>
                  <p class="my-4">
                    The whole revolution that this pandemic brought upon our lives has only sped up the process of every business going online. In such times, where e-commerce and e-shopping sites were already booming, having no choice but take to online shops has somewhere changed the user experience dynamics.</p>
                  <p class="my-4">
                  Decision making is tougher in certain areas,  a major one being fashion.</p>
                  <p class="my-4">Choosing apparels and accessories by looking at them on models only pose a limited imagination, and thus the whole tedious process ordering and returning becomes a task in itself for both customers and brands. Hence, we thought of bringing the experience of offline shopping to the customers at home by using virtual reality and AI.
                  </p>
                </div>
                <div class="col-lg-6 welcome-image">
                  <img src="static/assets/images/4.jpg" class="img-fluid" alt="" />
                </div>	
                
              </div>	
           
           </div>
         </div>
     </section>
  
<section class="w3l-services-6">
	<!-- /content-6-section -->
	<div class="services-grids-6 py-5">
		<div class="container py-lg-5">
				<div class="row w3-icon-grid-gap1">
					<!--<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-codepen" aria-hidden="true"></span>
							<h3></h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>-->
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-mobile" aria-hidden="true"></span>
							<h3>Trendy collections</h3>
							<div class="clearfix"></div>
						</a>
						<p>We update our products as the fashion trend ascends. You can find products those may suit your likings and keep you up-to-date with the ongoing fashion.</p>
					</div>
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-hourglass" aria-hidden="true"></span>
							<h3>Trials</h3>
							<div class="clearfix"></div>
						</a>
						<p>Our new trial technology makes it possible to try the dresses and accessories you like virtually and order accordingly.</p>
					</div>
					<!--<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-modx" aria-hidden="true"></span>
							<h3>Vast collection of Sports shoes</h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>-->
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-bar-chart" aria-hidden="true"></span>
							<h3>Uniquely designed collection</h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-shopping-bag" aria-hidden="true"></span>
							<h3>
                Trendy collections</h3>
							<div class="clearfix"></div>
						</a>
						<p>We update our products as the fashion trend ascends. You can find products those may suit your likings and keep you up-to-date with the ongoing fashion.</p>
					</div>					
					
				</div>
		</div>
	</div>
</section>
<!-- //content-6-section -->
<section class="features-4">
	<div class="features4-block py-5">
		<div class="container py-lg-5">
			<h6>We are the best</h6>
			<h3 class="hny-title text-center">What We <span>Offering</span></h3>
			
			<div class="features4-grids text-center row mt-5">
				<div class="col-lg-3 col-md-6 features4-grid">
					<div class="features4-grid-inn">
						<span class="fa fa-bullhorn icon-fea4" aria-hidden="true"></span>
						<h5><a href="#URL">Contact Us Anytime</a></h5>
						<p>You can send your valuable suggestions or complaints in the contact us section.</p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6 features4-grid sec-features4-grid">
						<div class="features4-grid-inn">
							<span class="fa fa-truck icon-fea4" aria-hidden="true"></span>
							<h5><a href="#URL">Free Shipping</a></h5>
							<p>Place your order over Rs.499 and avail the free shipping service.</p>
	
						</div>
					</div>
					<div class="col-lg-3 col-md-6 features4-grid">
							<div class="features4-grid-inn">
								<span class="fa fa-recycle icon-fea4" aria-hidden="true"></span>
								<h5><a href="#URL">Free Returns</a></h5>
								<p>You can apply for product exchange in case of size issues or if product is defective.</p>
		
							</div>
						</div>
						<div class="col-lg-3 col-md-6 features4-grid">
								<div class="features4-grid-inn">
									<span class="fa fa-cube icon-fea4" aria-hidden="true"></span>
									<h5><a href="#URL">Virtual Trials</a></h5>
									<p>Try out the awesome collection without even wearing it physically.</p>
			
								</div>
							</div>
			</div>
		</div>
	</div>
</section>
<!-- features-4 -->
      <!-- ======= Team Section ======= -->
      <section id="team" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h3 class="hny-title text-center">
              Meet the  <span>Team</span></h3>
  
          <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
  
            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
              <div class="team-block bottom">
                <img src="static/assets/images/1.png" class="img-responsive" alt="img" width="">
                <div class="team-content">
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                  </ul>
                  <span style="font-weight: 600;">Leader</span><br>
                  <span style="font-weight: 500;">Front-End & Back-End Developer</span>
                  <h4>Aaditya Prakash</h4>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
              <div class="team-block bottom">
                <img src="../static/assets/images/4.png" class="img-responsive" alt="img">
                <div class="team-content">
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                  </ul>
                  <span style="font-weight: 600;">Content Manager</span><br>
                  <span style="font-weight: 500;">Front-End Developer</span>
                  <h4>Manas Khare</h4>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
              <div class="team-block bottom">
                <img src="static/assets/images/2.png" class="img-responsive" alt="img">
                <div class="team-content">
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                  </ul>
                  <span style="font-weight: 600;">Designer</span><br>
                  <span style="font-weight: 500;">Back-End Developer</span>
                  <h4>Shambhavi</h4>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
              <div class="team-block bottom">
                <img src="static/assets/images/3.png" class="img-responsive" alt="img">
                <div class="team-content">
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                  </ul>
                  <span style="font-weight: 600;">Designer</span><br>
                  <span style="font-weight: 500;">Front-End Developer</span>
                  <h4>Vridhi Lalwani</h4>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </section><!-- End Team Section -->
  


  <section class="w3l-footer-22">
      <!-- footer-22 -->
      <div class="footer-hny py-5">
          <div class="container py-lg-5">
              <div class="text-txt row">
                  <div class="left-side col-lg-4">
                      <h3><a class="logo-footer" href="index.html">
                            Vouge<span class="lohny">On</span></a></h3>
                      <!-- if logo is image enable this   
                                    <a class="navbar-brand" href="#index.html">
                                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                                    </a> -->
                      <p>Now only buy clothes online when you are absolutely sure!</p>
                      <ul class="social-footerhny mt-lg-5 mt-4">

                          <li><a class="facebook" href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                          </li>
                          <li><a class="twitter" href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                          </li>
                          <li><a class="google" href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                          </li>
                          <li><a class="instagram" href="#"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                          </li>
                      </ul>
                  </div>

                  <div class="right-side col-lg-8 pl-lg-5">
                      <h4>Check out for Upcoming Discounts!!!</h4>
                      <div class="sub-columns">
                          <div class="sub-one-left">
                              <h6>Useful Links</h6>
                              <div class="footer-hny-ul">
                                  <ul>
                                      <li><a href="index.html">Home</a></li>
                                      <li><a href="about.html">About</a></li>
                                      <li><a href="#">Blog</a></li>
                                      <li><a href="contact.html">Contact</a></li>
                                  </ul>
                              </div>

                          </div>
                          <div class="sub-two-right">
                              <h6>We accept:</h6>
                              <ul>
                                  <li><a class="pay-method" href="#"><span class="fa fa-cc-visa"
                                              aria-hidden="true"></span></a>
                                  </li>
                                  <li><a class="pay-method" href="#"><span class="fa fa-cc-mastercard"
                                              aria-hidden="true"></span></a>
                                  </li>
                                  <li><a class="pay-method" href="#"><span class="fa fa-cc-paypal"
                                              aria-hidden="true"></span></a>
                                  </li>
                                  <li><a class="pay-method" href="#"><span class="fa fa-cc-amex"
                                              aria-hidden="true"></span></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="below-section row">
                  <div class="columns col-lg-6">
                  </div>
                  <div class="columns col-lg-6 text-lg-right">
                      <h3 style="color: white;">© 2021 Vouge<span style="color: #ff7315;">On</span>.</h3>
                      <p>All rights reserved.</p>
                  </div>
                  <button onclick="topFunction()" id="movetop" title="Go to top">
                      <span class="fa fa-angle-double-up"></span>
                  </button>
              </div>
          </div>
      </div>
      <!-- //titels-5 -->
      <!-- move top -->

      <script>
          // When the user scrolls down 20px from the top of the document, show the button
          window.onscroll = function () {
              scrollFunction()
          };

          function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  document.getElementById("movetop").style.display = "block";
              } else {
                  document.getElementById("movetop").style.display = "none";
              }
          }

          // When the user clicks on the button, scroll to the top of the document
          function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
          }
      </script>
      <!-- /move top -->
  </section>


  </body>

  </html>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->
<script src="assets/js/jquery-2.1.4.min.js"></script>
<!--/login-->
<script>
		$(document).ready(function () {
			$(".button-log a").click(function () {
				$(".overlay-login").fadeToggle(200);
				$(this).toggleClass('btn-open').toggleClass('btn-close');
			});
		});
		$('.overlay-close1').on('click', function () {
			$(".overlay-login").fadeToggle(200);
			$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
			open = false;
		});
  </script>
<!--//login-->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="assets/js/bootstrap.min.js"></script>
